<!DOCTYPE html>
<html lang="fr">
<head>
  <title>BookRary</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light" style="background-color: #FFE77D;">

    <!-- Logo + Titre -->
    <a class="navbar-brand align-bottom" href="/">
    <img src="./photo/logo.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
      <span class="align-middle">BookRary</span>
    </a>
  </nav>

  <h1 class="text-center">A propos de nous</h1>

  <div class="row">
    <div class="col-md-4 ">
    </div>
      <div class="col-md-4 ">
        <p class="text-center">
          Bienvenue sur notre nouveau site BookRary ! Le site est né d'une initiative de 2 étudiants qui ont eu l'idée de créer une bibliothèque en ligne dans le cadre de leur cours universitaire de projet d'approfondissement en informatique. Notre site sert de support informatique juste pour une librairie pour l'instant (Maciekrary) mais nous envisageons d'agrandir notre portée. Notre magnifique site vous permet de réserver des livres dans une librairie sans même devoir sortir de chez vous. Vous pouvez le faire en un seul clic en allant sur notre onglet « bibliothèque ». Notre site web possède aussi un historique des réservations des livres en général ainsi qu'un historique personnel ! Nous avons même un système de recommandation pour vous conseiller les meilleurs livres disponibles !
        </p>
      </div>
  </div>

<!-- Bas de page -->
<footer class="page-footer font-small" style="background-color: #FFE77D;">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-3 mb-2">

      <!-- Bouton a propos de nous -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/Apropos">A propos de nous</a>
        </h6>
      </div>
      <!-- Bouton contactez nous -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/contact">Contactez nous</a>
        </h6>
      </div>
      <!-- Bouton Magasins -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/magasins">Magasins</a>
        </h6>
      </div>

    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-2">© 2019
    <a href="/"> BookRary, Inc.</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>
