<!DOCTYPE html>
<html lang="fr">
<head>
  <title>BookRary</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light" style="background-color: #FFE77D;">

    <!-- Logo + Titre -->
    <a class="navbar-brand align-bottom" href="/">
    <img src="./photo/logo.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
      <span class="align-middle">BookRary</span>
    </a>

    <!-- Boutton de Navigation -->
    <div class="d-inline-block align-left" id="navbarNav">
      <a class="btn btn-dark align-left" href="/">Bibliothèque</a>
      <a class="btn btn-dark align-left" href="/historique">Historique</a>
      <a class="btn btn-dark align-left" href="#">Mes réservation</a>
      <a class="btn btn-dark align-left" href="#">Recomendation</a>
    </div>

      <!-- Bouton login / Voir le compte si déjà connecter -->
      <a class="navbar-link btn btn-primary" href="/connexion">{{username}}</a>

    <!-- Champs de recherche et boutton recherche (n'a pas d'utiliter ici mais est la pour grader l'alignement du reste de la navbar) -->
    <form class="form-inline invisible">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </nav>
  <h1 class="text-center">Gestion de votre compte :</h1>
  <h4 class="m-2">Passer votre compte en adimistrateur:</h4>

  <form class="form-inline" action="/upgrade" method="post">
    <input class="form-control mr-sm-2 m-2" type="search" placeholder="Entrée le code Admin" aria-label="Search" name="upgradeToAdmin">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Valider</button>
  </form>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-2">
        <a class="btn btn-danger aligne" href="/deconexion">Se déconecter</a>
      </div>
    </div>
  </div>


</body>
</html>
