<!DOCTYPE html>
<html lang="fr">
<head>
  <title>BookRary</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light" style="background-color: #FFE77D;">

    <!-- Logo + Titre -->
    <a class="navbar-brand align-bottom" href="/">
    <img src={{photoPath}} width="50" height="50" class="d-inline-block align-top" alt="">
      <span class="align-middle">BookRary</span>
    </a>

    <!-- Boutton de Navigation -->
    <div class="d-inline-block align-left" id="navbarNav">
      <a class="btn btn-dark align-left" href="/">Bibliothèque</a>
      <a class="btn btn-light align-left" href="/historique">Historique</a>
      <a class="btn btn-dark align-left {{VisibylityConneterAdmin}}" href="/reservations">Mes réservations</a>
      <a class="btn btn-dark align-left {{VisibylityConneterAdmin}}" href="/recommandation">Recommandation</a>
    </div>

      <!-- Bouton login / Voir le compte si déjà connecter -->
      <a class="navbar-link btn btn-primary" href="/connexion">{{username}}</a>

    <!-- Champs de recherche et boutton recherche -->
    <form class="form-inline" action="/historique/recherche" method="post">
      <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" name="rechercheText">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </nav>

  <!-- Date du jour -->
  <div class="container-fluid">
    <div class="row ">
      <div class="col-4">
        <h5>Date du jour: {{date}}</h5>
      </div>
    </div>
  </div>

  <h1 class="text-center"> Historique</h1>

  <!-- Tableau -->
  <table class="table table-hover">
    <thead class="table-active">
      <tr>
        <th scope="col">Livre</th>
        <th scope="col">Action</th>
        <th scope="col">Personne</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>

      {% for historique in array %}

      <tr scope="row">
        <th>{{historique.livre}}</th>
        <td>{{historique.action}}</td>
        <td>{{historique.pseudo}}</td>
        <td>{{historique.date}}</td>
      </tr>

    {% endfor %}
    </tbody>
  </table>

</body>
</html>
