<!DOCTYPE html>
<html lang="fr">
<head>
  <title>BookRary</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light" style="background-color: #FFE77D;">

    <!-- Logo + Titre -->
    <a class="navbar-brand align-bottom" href="/">
    <img src="./photo/logo.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
      <span class="align-middle">BookRary</span>
    </a>

    <!-- Boutton de Navigation -->
    <div class="d-inline-block align-left" id="navbarNav">
      <a class="btn btn-dark align-left" href="/">Bibliothèque</a>
      <a class="btn btn-dark align-left" href="/historique">Historique</a>
      <a class="btn btn-light align-left" href="/reservations">Mes réservations</a>
      <a class="btn btn-dark align-left" href="/recommandation">Recommandation</a>
    </div>

      <!-- Bouton login / Voir le compte si déjà connecter -->
      <a class="navbar-link btn btn-primary" href="/connexion">{{username}}</a>

    <!-- Champs de recherche et boutton recherche -->
    <form class="form-inline invisible">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </nav>

  <!-- Date du jour -->
  <div class="container-fluid">
    <div class="row ">
      <div class="col-4">
        <h5>Date du jour: {{date}}</h5>
      </div>
    </div>
  </div>

  <!-- Titre tableau -->
  <h1 class="text-center"> Mes réservations</h1>

  <!-- Tableau -->
  <table class="table table-hover">
    <thead class="table-active">
      <tr>
        <th scope="col">Livre</th>
        <th scope="col">Action</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>

      {% for reservation in array %}

      <tr scope="row">
        <th>{{reservation.livre}}</th>
        <td>{{reservation.action}}</td>
        <td>{{reservation.date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1 class="text-center invisible">espace</h1>

    <!-- Bas de page -->
    <footer class="page-footer font-small" style="background-color: #FFE77D;">
      <div class="container">
        <div class="row text-center d-flex justify-content-center pt-3 mb-2">

          <!-- Bouton a propos de nous -->
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/Apropos">A propos de nous</a>
            </h6>
          </div>
          <!-- Bouton contactez nous -->
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/contact">Contactez nous</a>
            </h6>
          </div>
          <!-- Bouton Magasins -->
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/magasins">Magasins</a>
            </h6>
          </div>

        </div>
      </div>

      <!-- Copyright -->
      <div class="footer-copyright text-center py-2">© 2019
        <a href="/"> BookRary, Inc.</a>
      </div>
      <!-- Copyright -->
    </footer>

</body>
</html>
